html, body {
  height: 100%;
  background-color: #ddd;
}

h1, h2 {
  color: #2e3a71;
}

a {
  color: #2e3a71;
  text-decoration: none;
}

a:visited,
a:active,
a:hover {
  color: #2e3a71;
}

a:hover {
  text-decoration: underline;
}

#container {
  background-color: #fff;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  height: 600px;
  left: 50%;
  margin: -325px 0 0 -475px;
  padding: 25px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 900px;
}

.item {
  float: left;
  height: 200px;
  margin-bottom: 50px;
  position: relative;
  width: 220px;
}

.thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
}

.related-btn {
  border-radius: 4px;
  font-size: 16px;
  margin-top: 8px;
}

.refresh {
  bottom: 20px;
  font-size: 18px;
  left: 70%;
  position: absolute;
  width: 225px;
}

.refresh a {
  display: inline-block;
  margin-right: 14px;
}
