html, body {
  height: 100%;
  background-color: #fff8cb;
}

a {
  color: #2e3a71;
  text-decoration: none;
}

a:visited,
a:active,
a:hover {
  color: #2e3a71;
}

a:hover {
  text-decoration: underline;
}

#container {
  background-color: #aaa;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
  height: 525px;
  margin: 25% auto 0;
  padding: 25px;
  position: relative;
  text-align: center;
  width: 900px;
}

.item {
  float: left;
  height: 200px;
  margin-bottom: 50px;
  position: relative;
  width: 220px;
}

.thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
}

.related-btn {
  border-radius: 4px;
  font-size: 16px;
  margin-top: 8px;
}

.refresh {
  bottom: 20px;
  font-size: 18px;
  left: 70%;
  position: absolute;
}
