<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the Neverending Yard Sale!</title>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
  <div id="container">
  <h1>{{ given_term if given_term != None }}</h1>
  {% for item in items %}
    <div class="item" data-term="{{ item['term'] }}">
      <a href="{{ item['viewItemURL']['value'] }}">
        <div class="thumb" style="background-image: url({{ item['galleryPlusPictureURL']['value'] or item['galleryURL']['value'] }})"></div>
      </a>
      <button class="related-btn" onclick="window.location.href='/?term={{ item['related']|e }}'">&raquo;</button>
    </div>
    {% if loop.index == 4 or loop.index == 8 %}
      <div style="clear: both"></div>
    {% endif %}
  {% else %}
      <h2>hmm, there don&apos;t seem to be any results for that term...</h2>
  {% endfor %}
    <div class="refresh">
      {% if given_term != None %}
        <a href="/?term={{ given_term }}">more like this</a>
      {% endif %}
      <a href="/">start over</a>
    </div>
  </div>
</body>
</html>
